<?php
$children = $this->viewModel()->getCurrent()->getChildren();
$child = $children[0];
?>

<?php echo $this->doctype(); ?>
<html lang="es" dir="rtl">

    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Reconocimientos')) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/main/img/ico.png'))
                        ->prependStylesheet('http://virtualofficedev.amarillasinternet.com/esteban/acreditaciones/css/camera.css')
                        ->prependStylesheet('http://virtualofficedev.amarillasinternet.com/esteban/acreditaciones/css/docs.css') 
                        ->prependStylesheet('http://virtualofficedev.amarillasinternet.com/esteban/acreditaciones/css/rtl.css') 
                        ->prependStylesheet('http://virtualofficedev.amarillasinternet.com/esteban/acreditaciones/css/bootstrap.css') 
                        ->prependStylesheet($this->basePath() . '/main/css/append.css') 
                        ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/main/js/tmp.main.js')
									  ->prependFile($this->basePath() . '/main/js/append.js')
									  ->prependFile($this->basePath() . '/main/js/index.js')
                                      ->prependFile($this->basePath() . '/main/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/main/js/custom.js')
									  ->prependFile($this->basePath() . '/main/js/menu.js')
                                      ->prependFile($this->basePath() . '/main/js/jquery.easing.1.3.js')  
                                      ->prependFile($this->basePath() . '/main/js/jquery.camera.js')
                                      ->prependFile($this->basePath() . '/main/js/jquery.js')
                                      ?>
    </head>
    <body>

		<nav>
		  <div class="navbar-inner navigation_bar">
			<div class="container">
			  <a href="/public">
			  <div class="logo_wp" ><img src="<?=$this->basePath()?>/main/img/logo_wp.png" alt="<?=$this->translate('Reconocimientos')?>"> </div>
			  <div class="titule">
				<h1><?=$this->translate('Reconocimientos')?></h1>
			  </div>
			  </a>
			  <div class="lenguages_selector">
				<ul>
				  <li class="dropdown "> <a class="dropdown-toggle  btn btn-lenguages" role="button" data-toggle="dropdown" href="#"><?=$this->translate('Idioma')?> <b class="caret"></b></a>
				 <ul class="dropdown-menu  pull-right span6">

                   <div class="row">
                <div class="span2">
				   <ul class="flagscontent ">
						  <li class="listLang"><a class="lang-es" href="/es/public" rel="nofollow" title="Español">Español</a></li>
						  <li class="listLang"><a class="lang-it" href="/it/public" rel="nofollow" title="Italiano">Italiano</a></li>
						  <li class="listLang"><a class="lang-en" href="/en/public" rel="nofollow" title="English">English</a></li>
						  <li class="listLang"><a class="lang-pt" href="/pt/public" rel="nofollow" title="Português(pt)">Português(pt)</a></li>
						  <li class="listLang"><a class="lang-br" href="/br/public" rel="nofollow" title="Português(br)">Português(br)</a></li>
						  <li class="listLang"><a class="lang-fr" href="/fr/public" rel="nofollow" title="Français">Français</a></li>
						  <li class="listLang"><a class="lang-pl" href="/pl/public" rel="nofollow" title="Polski">Polski</a></li>
						  <li class="listLang"><a class="lang-vn" href="/vn/public" rel="nofollow" title="Vietnam">Vietnam</a></li>
						  <li class="listLang"><a class="lang-tr" href="/tk/public" rel="nofollow" title="Türk">Türk</a></li>
						  <li class="listLang"><a class="lang-hr" href="/hr/public" rel="nofollow" title="hrvatski">hrvatski</a></li>
                  </ul>
                     </div>
                <div class="span2">
                       <ul class="flagscontent">
						  <li class="listLang"><a class="lang-ro" href="/ro/public" rel="nofollow" title="Româna">Româna</a></li>
						  <li class="listLang"><a class="lang-hi" href="/hi/public" rel="nofollow" title="हिंदी">हिंदी</a></li>
						  <li class="listLang"><a class="lang-ru" href="/ru/public" rel="nofollow" title="русский">русский</a></li>
						  <li class="listLang"><a class="lang-th" href="/th/public" rel="nofollow" title="ภาษาไทย">ภาษาไทย</a></li>
						  <li class="listLang"><a class="lang-il" href="/il/public" rel="nofollow" title="עברית">עברית</a></li>
						  <li class="listLang"><a class="lang-de" href="/de/public" rel="nofollow" title="Deutsch">Deutsch</a></li>
						  <li class="listLang"><a class="lang-jp" href="/jp/public" rel="nofollow" title="日本の">日本の</a></li>
						  <li class="listLang"><a class="lang-id" href="/id/public" rel="nofollow" title="Indonesia">Indonesia</a></li>
						  <li class="listLang"><a class="lang-ms" href="/ms/public" rel="nofollow" title="Melayu">Melayu</a></li>
						  <li class="listLang"><a class="lang-ua" href="/ua/public" rel="nofollow" title="Український">Український</a></li>
                  </ul>
                     </div>
                <div class="span2">
                       <ul class="flagscontent">
						  <li class="listLang"><a class="lang-sa" href="/sa/public" rel="nofollow" title="العربية">العربية</a></li>
						  <li class="listLang"><a class="lang-gr" href="/gr/public" rel="nofollow" title="ελληνικά">ελληνικά</a></li>
						  <li class="listLang"><a class="lang-nl" href="/nl/public" rel="nofollow" title="Nederlands">Nederlands</a></li>
						  <li class="listLang"><a class="lang-se" href="/se/public" rel="nofollow" title="Svenska">Svenska</a></li>
						  <li class="listLang"><a class="lang-no" href="/no/public" rel="nofollow" title="Norsk">Norsk</a></li>
						  <li class="listLang"><a class="lang-da" href="/da/public" rel="nofollow" title="Dansk">Dansk</a></li>
						  <li class="listLang"><a class="lang-ph" href="/ph/public" rel="nofollow" title="Tagalog">Tagalog</a></li>
						  <li class="listLang"><a class="lang-ko" href="/ko/public" rel="nofollow" title="한국의">한국의</a></li>
						  <li class="listLang"><a class="lang-am" href="/am/public" rel="nofollow" title="հայերեն">հայերեն</a></li>
                  </ul>
                     </div>
                <div class="span2">
                       <ul class="flagscontent">

					  </li>
					</ul>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		       <div class="topmenu">
    <div class="container ">
           <div id="primary-menu">
        <ul class="sf-js-enabled">
               <li class="current"><a href="/public">
                 <div>Home</div>
                 </a>
          </li><li><a href="/public/courses">
            <div>Cursos para Acreditaciones</div>
       </a> </li>
          <li><a href="/public/events">
              <div>Eventos</div>
              </a></li>
               <li><a href="/public/testimonys">
                 <div>Testimonios</div>
                 </a></li>
               <li><a href="/public/faq">
                 <div>Preguntas Frecuentes</div>
                 </a></li>
               <li><a href="/public/contact">
                 <div>Contáctenos</div>
              </a></li>
             </ul>
   </div>
         </div>
  </div>
     </nav>
		
		<?php echo $this->content; ?>
		
		<footer>
		  <div class="footer">
			<div class="container">
			  <div class="row">
				<div class="span3">
				  <h4><?=$this->translate('Anuncios')?></h4>
				  <ul>
					<li><a href="/why.html" title="<?=$this->translate('Por que anunciar aqui?')?>"><?=$this->translate('Por que anunciar aqui?')?></a></li>
					<li><a href="/seo.html" title="<?=$this->translate('Posicionamiento')?>"><?=$this->translate('Posicionamiento')?></a></li>
					<li><a href="/type.html" title="<?=$this->translate('Tipos de anuncios')?>"><?=$this->translate('Tipos de anuncios')?></a></li>
				  </ul>
				</div>
				<div class="span3">
				  <h4>Institucional</h4>
				  <ul>
					<li><a href="/whoweare.html" title="<?=$this->translate('Quienes somos')?>"><?=$this->translate('Quienes somos')?></a></li>
					<li><a href="/chamber.html" title="<?=$this->translate('Camaras de Comercio')?>"><?=$this->translate('Camaras de Comercio')?></a></li>
					<li><a href="/businessForm.php" data-toggle="modal" data-target="#inline_businessform"><?=$this->translate('Desarrollo de negocios')?></a></li>
					<li><a href="/oficce.html" title="<?=$this->translate('Nuestras oficinas')?>"><?=$this->translate('Nuestras oficinas')?></a></li>
				  </ul>
				</div>
				<div class="span3" >
				  <h4><?=$this->translate('Destacados')?></h4>
				  <ul>
					<li><a href="/mostpopular.html" title="<?=$this->translate('Anuncios mas visitados')?>"><?=$this->translate('Anuncios mas visitados')?></a></li>
					<li><a href="/bestranked.html"  title="<?=$this->translate('Anuncios mas votados')?>"><?=$this->translate('Anuncios mas votados')?></a></li>
					<li><a href="/last100.html"     title="<?=$this->translate('Ultimos anuncios publicados')?>"><?=$this->translate('Ultimos anuncios publicados')?></a></li>
					<li><a href="http://stats.aiyellow.com" title="" target="_blank"><?=$this->translate('Estadisticas')?></a></li>
				  </ul>
				</div>
				<div class="span3">
				  <h4><?=$this->translate('Legales')?></h4>
				  <ul>
			
<?php if($child->language == 'en' || $child->language == 'es'){ ?>
<li><a href="<?=$this->basePath()?>/pdf/terms_<?=$child->language?>.pdf" target="NEW"><?=$this->translate('Aviso legal')?></a></li>
<?php }else{ ?>
<li><a href="<?=$this->basePath()?>/pdf/terms_en.pdf" target="NEW"><?=$this->translate('Aviso legal')?></a></li>
<?php } ?>

<?php if($child->language == 'en' || $child->language == 'es' || $child->language == 'pt' || $child->language == 'br' || $child->language == 'it'){ ?>
<li><a href="<?=$this->basePath()?>/pdf/privacy_<?=$child->language?>.pdf" target="NEW"><?=$this->translate('Politica de privacidad')?></a></li>
<?php }else{ ?>
<li><a href="<?=$this->basePath()?>/pdf/privacy_en.pdf" target="NEW"><?=$this->translate('Politica de privacidad')?></a></li>
<?php } ?>

					<li><a href="#inline_coming" data-toggle="modal" title=""><?=$this->translate('Proximamente')?></a></li>
					<li><a href="/contact.php" data-toggle="modal" data-target="#inline_content1"><?=$this->translate('Contactanos')?></a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="footer footer_w_social">
			<div class="container">
			  <div class="row">
				<div class="span8"> &copy; <?=$this->translate('Copyright 2012 AmarillasInternet Corporation - Todos los derechos Reservados - AmarillasInternet es propiedad de AmarillasInternet Corporation')?></div>
				<div class="span4">
				  <ul class="social-icons pull-right">
					<li><?=$this->translate('SIGUENOS')?></li>
					<li class="social-facebook"><a href="#">Facebook</a></li>
					<li class="social-twitter"><a href="#">Twitter</a></li>
					<li class="social-youtube"><a href="#">Youtube</a></li>
				  </ul>
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</footer>
        
        <?php echo $this->inlineScript() ?>
    </body>
</html>
