<h1>Dates list</h1>
<p>
    <a href="<?php echo $this->url('admin', array('action'=>'dateadd','id' => $this->id_course));?>">Add new date</a>
</p>
<table class="table" style="float:left">
<tr>
    <th>date</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($paginator as $date) : ?>
<tr>
    <td><?php echo $this->escapeHtml($date->date);?></td>
    <td>
        <img src="<?=$this->basePath?>/abm/images/icn_trash.png" onclick="javscript:deleteDate(<?=$date->id?>);" style="cursor: pointer"/>
    </td>
</tr>
<?php endforeach; ?>
</table>

<?php
echo $this->paginationControl( $this->paginator,'sliding',
	array('/partial/paginatorDates.phtml', 'Dates')
);	

?>
