<?php
$title = 'Courses list';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('admin', array('action'=>'courseadd'));?>">Add new course</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Place</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($courses as $course) : ?>
<tr>
    <td><?php echo $this->escapeHtml($course->title_EN);?></td>
    <td><?php echo $this->escapeHtml($course->place);?></td>
    <td>
        <a href="<?php echo $this->url('admin',
            array('action'=>'courseedit', 'id' => $course->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_edit.png" /></a>
        <a href="<?php echo $this->url('admin',
            array('action'=>'coursedelete', 'id' => $course->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_trash.png" /></a>
    </td>
</tr>
<?php endforeach; ?>
</table>
