<?php
// module/Album/view/employee/employee/add.phtml:

$title = 'Add new course';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('admin', array('action' => 'courseadd')));
$form->prepare();
?>
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>
</div>

<?php 
$scripts = $this->inlineScript();
$scripts->appendScript(' tinymce.init({ selector: ".richtextbox" }); ');

