<?php
// module/Album/view/course/course/edit.phtml:

$title = 'Edit course';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?//$this->form->get('picture')->getValue();?>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin',
    array(
        'action' => 'courseedit',
        'id'     => $this->id,
    )
));
$form->prepare();

?>
<div style="height: 1400px">
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>
</div>
<input type="hidden" value="<?=$this->id?>" id="id_course" />
<div id="datesContainer"></div>
<div id="inscriptionContainer"></div>
</div>
<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('coursedatesPaginatorAjax(1)');
$scripts->appendScript('inscriptionPaginatorAjax(1)');
$scripts->appendScript(' tinymce.init({ selector: ".richtextbox" }); ');


