<?php
$title = 'Add new date';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('admin', array('action' => 'dateadd')));
$form->prepare();
?>
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>
</div>
<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('$( ".timepicker" ).timepicker({ timeFormat: "hh:mm:ss" });');
$scripts->appendScript('$( ".datepicker" ).datepicker( { dateFormat: "yy-mm-dd" } );');
