<?php
// module/Album/view/event/event/edit.phtml:

$title = 'Edit event';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?//$this->form->get('picture')->getValue();?>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin',
    array(
        'action' => 'eventedit',
        'id'     => $this->id,
    )
));
$form->prepare();

?>
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>
</div>
<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('$( ".timepicker" ).timepicker({ timeFormat: "hh:mm:ss" });');
$scripts->appendScript('$( ".datepicker" ).datepicker( { dateFormat: "yy-mm-dd" } );');
$scripts->appendScript(' tinymce.init({ selector: ".richtextbox" }); ');
