<?php
$title = 'Events list';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('admin', array('action'=>'eventadd'));?>">Add new event</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Place</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($events as $event) : ?>
<tr>
    <td><?php echo $this->escapeHtml($event->title_EN);?></td>
    <td><?php echo $this->escapeHtml($event->place);?></td>
    <td>
        <a href="<?php echo $this->url('admin',
            array('action'=>'eventedit', 'id' => $event->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_edit.png" /></a>
        <a href="<?php echo $this->url('admin',
            array('action'=>'eventdelete', 'id' => $event->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_trash.png" /></a>
    </td>
</tr>
<?php endforeach; ?>
</table>
