<?php
// module/Album/view/graduate/graduate/edit.phtml:

$title = 'Edit graduate';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?//$this->form->get('picture')->getValue();?>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin',
    array(
        'action' => 'graduateedit',
        'id'     => $this->id,
    )
));
$form->prepare();

?>
<div style="height: 1400px">
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>
</div>


