<?php
$title = 'Graduates list';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('admin', array('action'=>'graduateadd'));?>">Add new graduate</a>
</p>

<table class="table">
<tr>
    <th>Name</th>
    <th>Country</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($graduates as $graduate) : ?>
<tr>
    <td><?php echo $this->escapeHtml($graduate->name);?></td>
    <td><?php echo $this->escapeHtml($graduate->country);?></td>
    <td>
        <a href="<?php echo $this->url('admin',
            array('action'=>'graduateedit', 'id' => $graduate->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_edit.png" /></a>
        <a href="<?php echo $this->url('admin',
            array('action'=>'graduatedelete', 'id' => $graduate->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_trash.png" /></a>
    </td>
</tr>
<?php endforeach; ?>
</table>
