<?php
$title = 'Add new inscription';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('admin', array('action' => 'inscriptionadd')));
$form->prepare();
?>
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id_course'));
echo $this->formRow($form->get('name'));
echo $this->formRow($form->get('lastname'));
echo $this->formRow($form->get('email'));
?>
<label for="date"><span>Date</span>
<select name="date">
<?php foreach($dates as $date){ ?>
	<option value="<?=$date->date?>"><?=$date->date?></option>	
<?php } ?>
</select>
</label>
<?php
echo $this->formRow($form->get('submit'));
echo $this->form()->closeTag();
?>
</div>

