<h1>Inscription list</h1>
<p>
    <a href="<?php echo $this->url('admin', array('action'=>'inscriptionadd','id' => $this->id_course));?>">Add new inscription</a>
</p>
<table class="table" style="float:left">
<tr>
    <th>name</th>
    <th>email</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($paginator as $inscription) : ?>
<tr>
    <td><?php echo $this->escapeHtml($inscription->name) . ' ' .$this->escapeHtml($inscription->lastname);?></td>
    <td><?php echo $this->escapeHtml($inscription->email);?></td>
    <td>
        <img src="<?=$this->basePath?>/abm/images/icn_trash.png" onclick="javscript:deleteInscription(<?=$inscription->id?>);" style="cursor: pointer"/>
    </td>
</tr>
<?php endforeach; ?>
</table>


<?php

echo $this->paginationControl( $this->paginator,'sliding',
	array('/partial/paginatorInscriptions.phtml', 'Inscription')
);	

?>
