<?php
// module/Album/view/employee/employee/delete.phtml:

$title = 'Delete testimony';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Are you sure that you want to delete
    '<?php echo $this->escapeHtml($testimony->title); ?>' by
    '<?php echo $this->escapeHtml($testimony->place); ?>'?
</p>
<?php
$url = $this->url('admin', array(
    'action' => 'testimonydelete',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $testimony->id; ?>" />
    <input type="submit" name="del" value="Yes" />
    <input type="submit" name="del" value="No" />
</div>
</form>
