<?php
$title = 'Testimony list';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('admin', array('action'=>'testimonyadd'));?>">Add new testimony</a>
</p>

<table class="table">
<tr>
    <th>Distributor</th>
    <th>Date</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($testimonys as $testimony) : ?>
<tr>
    <td><?php echo $this->escapeHtml($testimony->id_distributor);?></td>
    <td><?php echo $this->escapeHtml($testimony->date);?></td>
    <td>
        <a href="<?php echo $this->url('admin',
            array('action'=>'testimonyedit', 'id' => $testimony->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_edit.png" /></a>
        <a href="<?php echo $this->url('admin',
            array('action'=>'testimonydelete', 'id' => $testimony->id));?>"><img src="<?=$this->basePath?>/abm/images/icn_trash.png" /></a>
    </td>
</tr>
<?php endforeach; ?>
</table>
