<?php
// module/Album/view/testimony/testimony/edit.phtml:

$title = 'Edit testimony';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?//$this->form->get('picture')->getValue();?>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin',
    array(
        'action' => 'testimonyedit',
        'id'     => $this->id,
    )
));
$form->prepare();

?>
<div class="formCollection" >
<?php
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
echo $this->formRow($form->get('id_distributor'));
echo $this->formRow($form->get('name'));
echo $this->formRow($form->get('description_EN'));
echo $this->formRow($form->get('description_ES'));
echo $this->formRow($form->get('description_PR'));
echo $this->formRow($form->get('rate'));
echo $this->formRow($form->get('date'));
?>
<label for="country"><span>Country</span>
<select name="country">
<?php foreach($countrys as $country){ 
	if($country->code == $selectedCountry){	?>
	<option value="<?=$country->code?>" SELECTED><?=$country->country?></option>	
	<?php }else{ ?>
	<option value="<?=$country->code?>"><?=$country->country?></option>	
	<?php } ?>
<?php } ?>
</select>
</label>
<?php
echo $this->formRow($form->get('submit'));
echo $this->form()->closeTag();
?>
</div>
<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('$( ".datepicker" ).datepicker( { dateFormat: "yy-mm-dd" } );');
