<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('') ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/abm/images/ico.png'))
                        ->prependStylesheet($this->basePath() . '/abm/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/abm/css/style.css')
                        ->prependStylesheet($this->basePath() . '/abm/css/smoothness/jquery-ui-1.10.2.custom.min.css')
                        ->prependStylesheet($this->basePath() . '/abm/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/abm/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/abm/js/tinymce/tinymce.min.js')
                                      ->prependFile($this->basePath() . '/abm/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/abm/js/jquery.equalHeight.js')
									  ->prependFile($this->basePath() . '/abm/js/abm.js')
									  ->prependFile($this->basePath() . '/abm/js/jquery-ui-timepicker-addon.js')
									  ->prependFile($this->basePath() . '/abm/js/jquery-ui-1.10.2.custom.min.js') 
									  ->prependFile($this->basePath() . '/abm/js/jquery-1.9.1.js') 
                                      ?>

    </head>
    
			<header id="header">
		<hgroup>
			<h1 class="site_title"><div class="logo_wp" ><img width="30px" style="float:left" src="<?=$this->basePath()?>/abm/images/logo_wp.png" alt="Accreditation System">Accreditation System</div>
			<h2 class="section_title">Dashboard</h2><div class="btn_view_site"><a href="<?php echo $this->url('public', array('action'=>'index'));?>">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="user">
			<p>Admin</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<h3>Courses</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="<?php echo $this->url('admin', array('action'=>'courseadd'));?>">Add New Course</a></li>
			<li class="icn_view_users"><a href="<?php echo $this->url('admin', array('action'=>'courselist'));?>">View Courses</a></li>
		</ul>
		<h3>Events</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="<?php echo $this->url('admin', array('action'=>'eventadd'));?>">Add New Events</a></li>
			<li class="icn_view_users"><a href="<?php echo $this->url('admin', array('action'=>'eventlist'));?>">View Events</a></li>
		</ul>
		<h3>Graduates</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="<?php echo $this->url('admin', array('action'=>'graduateadd'));?>">Add New Graduates</a></li>
			<li class="icn_view_users"><a href="<?php echo $this->url('admin', array('action'=>'graduatelist'));?>">View Graduates</a></li>
		</ul>
		<h3>Testimonys</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="<?php echo $this->url('admin', array('action'=>'testimonyadd'));?>">Add New Testimonys</a></li>
			<li class="icn_view_users"><a href="<?php echo $this->url('admin', array('action'=>'testimonylist'));?>">View Testimonys</a></li>
		</ul>
		<h3>Admin</h3>
		<ul class="toggle">
			<li class="icn_jump_back"><a href="/user/logout">Logout</a></li>
		</ul>
		
	</aside><!-- end of sidebar -->
	
	
    
        <div id="main" class="column" style="min-height: 800px;">
            
            <div id="container">
            <?php echo $this->content; ?>
            <hr>
            </div>
            
        </div>
        
        <?php 
			$scripts = $this->inlineScript();
			$scripts->appendScript("$('.column').equalHeight();");
			echo $this->inlineScript();
		 ?>
    </body>
</html>
