<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/contact.jpg"></div>
<!-- #camera_wrap_1 -->
<div class="divider_space"></div>
<div class="container">
  <div class="row">
    <div class="span12">
      <h1><?=$this->translate('Contáctenos')?></h1>
      <p><?=$this->translate('Encabezado contacto')?></p>
    </div>
  </div>
  <div class="divider_space"></div>
  <div class="row">
    <div class="span5 recog">
      <div class="recog_photo"> <img src="<?=$this->basePath()?>/main/images/chequeta3.jpg" alt="Vanessa Williams" class="photo_normal"> </div>
      <img src="<?=$this->basePath()?>/main/images/shadow_internal.png" class="shadow" alt="WP"></div>
    <div class="span7">
      <h2>Gloria Arroyave<br>
        <span class="country_recong"><?=$this->translate('Polonia')?></span></h2>
      <hr class="titles">
      <p><?=$this->translate('Descripcion contacto')?></p>
      <div class="contact-icons">
        <li class="contact-contact"><i></i><?=$this->translate('Correo Electrónico')?></li>
        <li class="contact-phone"><i></i> <?=$this->translate('Teléfono')?>:</li>
        <li class="contact-skype"><i></i> <?=$this->translate('Skype')?>:</li>
        <li class="contact-mobile"><i></i><?=$this->translate('Numero de Movil')?></li>
      </div>
    </div>
  </div>
  <div class="divider_space"></div>
</div>

