<div class="row">
	<ul class="thumbnails" style=" margin:0;">
		<?php foreach ($paginator as $course) : ?>
			<li class="span4">
				<div class="thumbnail"> <a href="/public/course/<?=$course->id?>"><img src="<?=$this->basePath()?>/img_courses/<?=$course->picture?>" alt="<?php echo $this->escapeHtml($course->title_EN);?>"></a>
					<div class="caption"> 
						<h3>
							<?php
echo $this->language;
							if($this->language == 'es') {
							echo $this->escapeHtml($course->title_ES);
							}else if($this->language == 'pt' || $this->language == 'pr'){
							echo $this->escapeHtml($course->title_PR);
							}else{
							echo $this->escapeHtml($course->title_EN);
							}
							?>
						</h3>
						<p>
							<?php
							if($this->language == 'es') {
							echo substr($this->escapeHtml($course->introduction_ES), 0, 100) . '...';
							}else if($this->language == 'pt' || $this->language == 'pr'){
							echo substr($this->escapeHtml($course->introduction_PR), 0, 100) . '...';
							}else{
							echo substr($this->escapeHtml($course->introduction_EN), 0, 100) . '...';
							}
							?>						
						</p>
						<p><a href="/public/course/<?=$course->id?>" class="btn btn-blue-big"><i class="icon-info-sign icon-white"></i>&nbsp;<?=$this->translate('Ver Mas')?></a> <a href="" onclick="javascript:inscriptionModalAjax(<?=$course->id?>);" class="btn btn-blue-big" data-toggle="modal"><i class="icon-pencil icon-white"></i>&nbsp;<?=$this->translate('Inscribirme')?></a></p>
					</div>
				</div>
				<img src="<?=$this->basePath()?>/main/images/shadow_internal.png" class="shadow"> 
			</li>			
		<?php endforeach; ?>	
	</ul>
</div>
	
<hr>
<?php if(count($this->paginator) > 1) {?>
<div class="pagination pagination-large">
	   
<?php // add at the end of the file after the table
echo $this->paginationControl($this->paginator, 'sliding',
	array('partial/paginatorCourses.phtml', 'Course'),
	array('route' => 'public')
);
?>

</div>	
<?php } ?>

