<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/contact.jpg"></div>
<!-- #camera_wrap_1 -->
<? echo $this->language; ?>
<div class="divider_space"></div>
<div class="container">
	<div class="row">
		<div class="span12">
			<h1><?=$this->translate('Cursos Disponibles')?></h1>
			<p><?=$this->translate('Encabezado cursos')?></p>
		</div>
	</div>
	<div class="divider_space"></div>
	
	<div id="courseContainer"></div>
	
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<?php 
$scripts = $this->inlineScript();
$scripts->appendScript("coursePaginatorAjax(1, '{$this->language}')");
