<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/contact.jpg"></div>
<!-- #camera_wrap_1 -->
<div class="divider_space"></div>
<div class="container">


<div class="row">
    <div class="span12">
     <ul class="breadcrumb">
  <li><a href="/public"><?=$this->translate('Home')?></a> <span class="divider">/</span></li>
  <li><a href="/public/courses"><?=$this->translate('Cursos para Acreditaciones')?></a> <span class="divider">/</span></li>
  <li class="active">
		<?php
		if($this->language == 'es') {
			echo $this->escapeHtml($course->title_ES);
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $this->escapeHtml($course->title_PR);
		}else{
			echo $this->escapeHtml($course->title_EN);
		}
		?>
  </li>
</ul>
    </div>
  </div>


  <div class="row">
    <div class="span9">
      <h1>
		<?php
		if($this->language == 'es') {
			echo $this->escapeHtml($course->title_ES);
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $this->escapeHtml($course->title_PR);
		}else{
			echo $this->escapeHtml($course->title_EN);
		}
		?>

      </h1>
      <h2>
		<?php
		if($this->language == 'es') {
			echo $this->escapeHtml($course->introduction_ES);
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $this->escapeHtml($course->introduction_PR);
		}else{
			echo $this->escapeHtml($course->introduction_EN);
		}
		?>
      </h2>
      <p>
		<?php
		if($this->language == 'es') {
			echo $course->description_ES;
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $course->description_PR;
		}else{
			echo $course->description_EN;
		}
		?>
      </p>
    </div>
    
    <div class="span3">
     <h4><?=$this->translate('Inscripción')?></h4>
     <form>

	<div class="alert alert-error oculto" id="error">
		<p><?=$this->translate('Check de for invalid fields.')?></p>
	</div>
	
	<div class="alert alert-error oculto" id="systemerror">
		<p><?=$this->translate('An error has ocurred, close this modal and try again.')?></p>
	</div>
	
	<div class="alert alert-success oculto" id="success">
		<p><?=$this->translate('Succes!')?></p>
	</div>
  
  <div class="control-group">
      <label class="control-label" for="inputEmail"><?=$this->translate('Seleccionar Día')?></label>
      <div class="controls">
        <select id="date">
			<?php foreach($courseDates as $date){ ?>
				<option value="<?=$date->date?>"><?=$date->date?></option>	
			<?php } ?>
  </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="name"><?=$this->translate('Nombre')?></label>
      <div class="controls">
        <input type="text" id="name" placeholder="<?=$this->translate('Nombre')?>">
      </div>
    </div>   
    
    <div class="control-group">
      <label class="control-label" for="lastname"><?=$this->translate('Apellido')?></label>
      <div class="controls">
        <input type="text" id="lastname" placeholder="<?=$this->translate('Apellido')?>">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="email"><?=$this->translate('Email')?></label>
      <div class="controls">
        <input type="text" id="email" placeholder="<?=$this->translate('Email')?>">
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
		
		<input type="hidden" value="<?=$course->id?>" id="id_course" />
        <button type="button" onclick="javascript:submitInscriptionForm()" id="submitButton" class="btn btn-blue-big"><?=$this->translate('Inscribirme')?></button>
      </div>
    </div>
  </form>
    </div>
    
  </div>
  <div class="divider_space">	</div>
</div>
