<div class="row">
	<ul class="thumbnails" style=" margin:0;">
		<?php foreach ($paginator as $event) : ?>
			<li class="span4">
				<div class="thumbnail"> <a href="/public/event/<?=$event->id?>"><img src="<?=$this->basePath()?>/img_events/<?=$event->picture?>" alt="<?php echo $this->escapeHtml($event->title_EN);?>"></a>
					<div class="caption">
						<h3>
							<?php
							if($this->language == 'es') {
							echo $this->escapeHtml($event->title_ES);
							}else if($this->language == 'pt' || $this->language == 'pr'){
							echo $this->escapeHtml($event->title_PR);
							}else{
							echo $this->escapeHtml($event->title_EN);
							}
							?>
						</h3>
						<p>
							<?php
							if($this->language == 'es') {
							echo $this->escapeHtml($event->introduction_ES);
							}else if($this->language == 'pt' || $this->language == 'pr'){
							echo $this->escapeHtml($event->introduction_PR);
							}else{
							echo $this->escapeHtml($event->introduction_EN);
							}
							?>						
						</p>
						<p><a href="/public/event/<?=$event->id?>" class="btn btn-blue-big"><i class="icon-info-sign icon-white"></i>&nbsp;<?=$this->translate('Ver Mas')?></a></p>
					</div>
				</div>
				<img src="<?=$this->basePath()?>/main/images/shadow_internal.png" class="shadow"> 
			</li>			
		<?php endforeach; ?>	
	</ul>
</div>
	
<hr>
<?php if(count($this->paginator) > 1) {?>
<div class="pagination pagination-large">
	   
<?php // add at the end of the file after the table
echo $this->paginationControl($this->paginator, 'sliding',
	array('partial/paginatorEvents.phtml', 'Event'),
	array('route' => 'public')
);
?>

</div>	
<?php } ?>


