<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/contact.jpg"></div>
<!-- #camera_wrap_1 -->
<div class="divider_space"></div>
<div class="container">
	<div class="row">
		<div class="span12">
			<h1><?=$this->translate('Eventos Disponibles')?></h1>
			<p> <?=$this->translate('Encabezado eventos')?></p>
		</div>
	</div>
	<div class="divider_space"></div>
	
	<div id="eventContainer"></div>
	
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('eventPaginatorAjax(1)');
