<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/contact.jpg"></div>
<!-- #camera_wrap_1 -->
<div class="divider_space"></div>
<div class="container">


<div class="row">
    <div class="span12">
     <ul class="breadcrumb">
  <li><a href="/public"><?=$this->translate('Home')?></a> <span class="divider">/</span></li>
  <li><a href="/public/events"><?=$this->translate('Eventos')?></a> <span class="divider">/</span></li>
  <li class="active">
	<?php
	if($this->language == 'es') {
		echo $this->escapeHtml($event->title_ES);
	}else if($this->language == 'pt' || $this->language == 'pr'){
		echo $this->escapeHtml($event->title_PR);
	}else{
		echo $this->escapeHtml($event->title_EN);
	}
	?>
  </li>
</ul>
    </div>
  </div>


  <div class="row">
    <div class="span9">
      <h1>
		<?php
		if($this->language == 'es') {
			echo $this->escapeHtml($event->title_ES);
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $this->escapeHtml($event->title_PR);
		}else{
			echo $this->escapeHtml($event->title_EN);
		}
		?>

      </h1>
      <h2>
		<?php
		if($this->language == 'es') {
			echo $this->escapeHtml($event->introduction_ES);
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $this->escapeHtml($event->introduction_PR);
		}else{
			echo $this->escapeHtml($event->introduction_EN);
		}
		?>
      </h2>
      <p>
		<?php
		if($this->language == 'es') {
			echo $event->description_ES;
		}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $event->description_PR;
		}else{
			echo $event->description_EN;
		}
		?>
      </p>
    </div>
    
    
  </div>
  <div class="divider_space">	</div>
</div>
