<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/contact.jpg"></div>
<!-- #camera_wrap_1 -->
<div class="divider_space"></div>
<div class="container">
  <div class="row">
    <div class="span12">
      <h1><?=$this->translate('Preguntas Frecuentes')?></h1>
      <p><?=$this->translate('Preguntas Frecuentes respuesta')?></p>
      <p>&nbsp;</p>
      <div class="toggle">
        <div class="togglet"><?=$this->translate('How do I become an author?')?></div>
        <div class="togglec clearfix" style=""> <?=$this->translate('How do I become an author? respuesta')?></div>
      </div>
      <div class="toggle">
        <div class="togglet"><?=$this->translate('Helpful Resources for Authors')?></div>
        <div class="togglec clearfix" style="display: none;"><?=$this->translate('Helpful Resources for Authors respuesta')?></div>
      </div>
      <div class="toggle">
        <div class="togglet"><?=$this->translate('How much money can I make?')?></div>
        <div class="togglec clearfix" style="display: none;"><?=$this->translate('How much money can I make? respuesta')?></div>
      </div>
    </div>
  </div>
  <div class="divider_space"> </div>
</div>
