<div class="container"> 
  <div class="divider_space"></div>
  
  <div class="row">
    <div class="span5 "><div class="image-limit-big"><img src="<?=$this->basePath()?>/img_graduates/<?=$graduate->picture?>" alt="<?=$this->graduate->name?>" class="photo_normal"></div><img src="<?=$this->basePath()?>/main/img/shadow_internal.png" class="shadow" alt="WP"></div>
    <div class="span7">
      <h2><?=$this->graduate->name?> <br>
        <span class="country_recong"><?=$this->graduate->country?></span></h2>
      <hr class="titles">
      <p>
      <?php
		if($this->language == 'es') {
			echo $this->graduate->data_ES;
		}else if($this->language == 'pt' || $this->language == 'pr'){ 
			echo $this->graduate->data_PR;
		}else{ 
			echo $this->graduate->data_EN;
		} 
	  ?>
	  </p>
	  <hr class="small_divider">
      <ul class="profile-icons">
        <li ><?=$this->translate('Contacto y Redes Sociales')?></li>
        <br>
        <?php if($this->graduate->email != '') {?>
			<li class="profile-contact"><a href="mailto:<?=$this->graduate->email?>" title="Email">Email</a></li>
        <?php }else{ ?>
			<li class="profile-contact-disabled" title="Email">Email</li>
        <?php } ?>
        
        <?php if($this->graduate->facebook != '') {?>
			<li class="profile-facebook"><a href="<?=$this->graduate->facebook?>" target="_blank">Facebook</a></li>
        <?php }else{ ?>
			<li class="profile-facebook-disabled" title="Facebook">Facebook</li>
        <?php } ?>
        
        <?php if($this->graduate->twitter != '') {?>
			<li class="profile-twitter"><a href="<?=$this->graduate->twitter?>" target="_blank">Twitter</a></li>
		<?php }else{ ?>
			<li class="profile-twitter-disabled" title="Twitter">Twitter</li>
        <?php } ?>
        
        <?php if($this->graduate->skype != '') {?>
			<li class="profile-skype"><a href="<?=$this->graduate->skype?>" target="_blank">Skype</a></li>
		<?php }else{ ?>
			<li class="profile-skype-disabled" title="Skype">Skype</li>
        <?php } ?>
        
        <?php if($this->graduate->gplus != '') {?>
			<li class="profile-google"><a href="<?=$this->graduate->gplus?>" target="_blank">Google+</a></li>
        <?php }else{ ?>
			<li class="profile-google-disabled" title="Google+">Google+</li>
        <?php } ?>
      </ul>
      
      <input type="hidden" value="<?=$this->graduate->id?>"  id="id_graduate"/>
    </div>
  </div>
</div>

  <div class="divider_small"></div>
  <div class="divider_small"></div>
