<div class="row" style="height: 542px;">
    <?php foreach ($paginator as $graduate) : ?>
  
    <div class="span3 recog">
      <div class="recog_photo"> <a href="public/graduate/<?=$graduate->id?>"> <span class="hover image-limit-small"> <img src="<?=$this->basePath()?>/img_graduates/<?=$graduate->picture?>"  alt="<?php echo $this->escapeHtml($graduate->name);?>"> <span class="hov"></span></span>
      <!--<div class="recog_photo"> <a href="<?=$this->url('public', array('action'=>'seegraduate', 'id' => $graduate->id));?>"> <span class="hover"> <img src="<?=$this->basePath()?>/img_graduates/<?=$graduate->picture?>"  alt="<?php echo $this->escapeHtml($graduate->name);?>"> <span class="hov"></span></span>-->
              
        <div class="details"> <span class="bg"></span>
          <h4><?php echo $this->language; echo $this->escapeHtml($graduate->name);?></h4>
          <span><?php echo $this->escapeHtml($graduate->country);?></span></div>
        </a></div>
      <img src="<?=$this->basePath()?>/main/img/shadow_internal.png"  class="shadow"alt="WP"></div>
   
   <?php endforeach; ?>
</div>
	
<hr>
<?php if(count($this->paginator) > 1) {?>
<div class="pagination pagination-large">
	   
<?php // add at the end of the file after the table
echo $this->paginationControl($this->paginator, 'sliding',
	array('partial/paginatorGraduate.phtml', 'Graduate'),
	array('route' => 'public')
);
?>

</div>	
<?php } ?>


