<!-- #camera_wrap_1 -->
<div class="camera_wrap" id="camera_wrap_1">
	<div data-src="<?=$this->basePath()?>/main/images/slides/1.jpg">
		<div class="camera_caption fadeFromBottom">
			<h3><?=$this->translate('¿Para qué me debería acreditar en Amarillas internet?')?></h3>
		</div>
	</div>
	
	<div data-src="<?=$this->basePath()?>/main/images/slides/2.jpg">
		<div class="camera_caption fadeFromRight">
			<h3><?=$this->translate('¿Sabes cómo hacerte profesional en ventas en Amarillas  Internet?')?></h3>
		</div>
	</div> 
	
	<div data-src="<?=$this->basePath()?>/main/images/slides/3.jpg">
		<div class="camera_caption fadeFromRight">
			<h3><?=$this->translate('¿Qué recibo con las acreditaciones?')?></h3>
		</div>
	</div> 
</div>
<? echo $this->language; ?>
<div class="divider_space"></div>
<div class="container">
       <div class="row">
    <div class="span12">
           <h1><?=$this->translate('¿Sabes cómo hacerte profesional en ventas en Amarillas  Internet?')?></h1>
           <p><?=$this->translate('Amarillas Internet pone a tu disposición el  Departamento de Acreditaciones donde podrás apoyarte para vender de forma  profesional nuestros productos, lo que permitirá que tengas ventas efectivas de  forma constante, mejorar tus ingresos y con ello lograr una mejor calidad de  vida.')?></p>
         </div>
  </div>
       <hr>
       <div class="row">
    <div class="span12">
           <div class="toggle ">
        <div class="togglet toogle_big"><?=$this->translate('¿Para qué me debería acreditar en amarillas internet?')?></div>
        <div class="togglec " style="display: none;">
               <ul class="list-style">
            <li><?=$this->translate('Para obtener respaldo de Amarillas Internet  en el portal donde tus clientes podrán verificar que eres un profesional en Ventas de nuestros productos, lo que le garantiza seguridad y calidad en el  servicio, que llevará a tu cliente a tomar la decisión de compra más  fácilmente.')?></li>
            <li><?=$this->translate('Para tener las suficientes herramientas de  venta, que te proyectarán como un gran asesor a tus clientes, obteniendo más referidos')?></li>
            <li><?=$this->translate('Para conocer e implementar nuevas  estrategias de venta de nuestros productos, dando valor agregado a nuestros  servicios, a través del uso efectivo de las aplicaciones del internet')?></li>
            <li><?=$this->translate('Para dominar toda la parte técnica de  nuestros productos y apoyar así a tus clientes con una correcta asesoría  permanente')?></li>
            <li><?=$this->translate('Para crecer profesionalmente dentro de la  Compañía, apalancándote en la venta con tu ingreso permanente y de esta manera  crear tu equipo de trabajo desarrollando una organización dentro de Amarillas  Internet, hasta llegar a ser socio de la compañía si lo deseas')?></li>
          </ul>
             </div>
      </div>
         </div>
    <div class="span12">
           <div class="toggle ">
        <div class="togglet toogle_big">
               <p><?=$this->translate('¿Qué recibo con las acreditaciones?')?></p>
             </div>
        <div class="togglec " style="display: none;">
               <ul class="list-style">
            <li><?=$this->translate('Aparecer en el link de Acreditaciones desde  el Portal de')?> <a href="http://www.amarillasinternet.com/">www.amarillasinternet.com</a> <?=$this->translate('como Acreditado, para verificación de tus clientes')?></li>
            <li><?=$this->translate('Carné de Acreditaciones de Amarillas  Internet, con varias características de seguridad, único a nivel mundial, que  te identificará como Distribuidor Independiente Acreditado de nuestra Compañía.  El carné te servirá además para obtener beneficios a nivel mundial en  diferentes empresas, descuentos, promociones, ingreso a eventos nacionales e  internacionales, entre otros')?></li>
            <li><?=$this->translate('Certificado de Acreditaciones de Amarillas  Internet, que te será entregado en un evento de reconocimiento y graduación,  donde podrás asistir con todo tu equipo')?></li>
            <li><?=$this->translate('Tu testimonio podrá ser publicado en la  página de Acreditaciones, donde vas a edificar y construir con tu equipo,  sirviendo de ejemplo para los afiliados a nivel mundial')?></li>
          </ul>
             </div>
      </div>
         </div>
    <div class="span12">
           <div class="toggle ">
        <div class="togglet toogle_big">
               <p><?=$this->translate('¿Qué requisitos debo cumplir para poder acreditarme?')?></p>
             </div>
        <div class="togglec " style="display: none;">
               <ul class="list-style">
            <li><?=$this->translate('Estar activo  y calificado en cualquiera de los paquetes que dispone la compañía de la  siguiente manera')?>:<br>
                   <ul class="list-style_basic" style="margin:20px;">
                <li><?=$this->translate('Afiliado Estándar: Activación y calificación por 30 días')?></li>
                <li><?=$this->translate('Afiliado Premium: Activación con Premium por un año y calificación por 30 días con 1  Estándar o 1 Paquete SúperPlus')?></li>
                <li><?=$this->translate('Director Regional, Nacional e Internacional: Activación por un año y calificación por 30  días con un Paquete SúperPlus. Tener presente que el primer mes del Director  Regional nuevo o renovado está automáticamente calificado también por 30 días,  es decir no requiere comprar el autoconsumo el primer mes')?><br>
                     </li>
              </ul>
                   <br>
                   <?=$this->translate('Es importante tener en cuenta que la Acreditación de Ventas básico es  prerrequisito para&nbsp; realizar los demás  talleres de Acreditación de los productos Corporativos y de los nuevos  productos.')?><br>
                   <br>
                 </li>
            <li><?=$this->translate('Tener  disponibilidad de tiempo para el proceso de Acreditaciones, si es presencial 3  días intensivos (mañana y tarde), si es virtual 3 horas, tres días a la semana,  durante 3 semanas.')?></li>
            <li><?=$this->translate('Inscribirse  en la página de Acreditaciones seleccionando el grupo y horario que se acomode  a tus necesidades')?></li>
            <li><?=$this->translate('Pagar la  Acreditación con la inscripción')?></li>
          </ul>
             </div>
      </div>
         </div>
  </div>
       <hr>
       <h3><?=$this->translate('Ultimos Egresados')?></h3>
		
		<div id="graduateContainer"></div>
		
       <div class="divider_space"></div>
     </div>
		
<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('jQuery(function(){
	jQuery("#camera_wrap_1").camera({
		height: "400px",
		loader: false,
		pagination: false,
		thumbnails: false,
		time: "3000"
	});
});');
$scripts->appendScript('graduatePaginatorAjax(1)');
