<div class="back_top_internal_page"><img src="<?=$this->basePath()?>/main/images/login.jpg"></div>
<!-- #camera_wrap_1 -->
<div class="divider_space"></div>
<div class="container">
	<div class="row">
		<div class="span12">
			<h4><?=$this->translate('Nuestra Gente')?></h4>
			<h1><?=$this->translate('Testimonios')?></h1>
			<p><?=$this->translate('Conoce a los emprendedores que construyen nuestra comunidad de negocios y conoce su opinión sobre la experiencia AmarillasInternet !')?></p>
		</div>
	</div>

	<div class="divider_space"></div>

	  <div class="row">
		<div class="span12">
		  <form class="form-inline">
			
			<select name="country" id="country">
				<option selected="selected" value="none"><?=$this->translate('Todos Los Paises')?></option>
				<?php foreach($countrys as $country){ ?>
					<option value="<?=$country->code?>"><?=$country->country?></option>	
				<?php } ?>
			</select>
			
			<button type="button" class="btn btn-blue-big" onclick="javascript:testimonyPaginatorAjax(1);"><?=$this->translate('Filtrar')?></button>
		  </form>
		</div>
	  </div>
	
	<div class="divider_space"></div>  
	
	<div id="testimonyContainer"></div>
	
</div>

<?php 
$scripts = $this->inlineScript();
$scripts->appendScript('testimonyPaginatorAjax(1)');


