<?php foreach ($paginator as $testimony) : ?>
<div class="blog-comments">
        <div class="parent">
          <figure class="img-circle blog-fleft"><img src="<?=$this->basePath()?>/main/images/avatar.jpg" alt="" class="Nombre"></figure>
          <h2><em><?php echo $this->escapeHtml($testimony->name);?></em></h2>
          <p>
			<?php
			if($this->language == 'es') {
			echo $this->escapeHtml($testimony->description_ES);
			}else if($this->language == 'pt' || $this->language == 'pr'){
			echo $this->escapeHtml($testimony->description_PR);
			}else{
			echo $this->escapeHtml($testimony->description_EN);
			}
			?>          
          </p>
          <table style="width:90%;">
            <tbody><tr>
              <td class="text-left"><div class="stars">
                  <input type="hidden" name="1554" value="3.9167" class="">
                  

					<?php $stars = array(1,2,3,4,5); ?>
					<?php foreach ($stars as $star){ ?>
						<?php if ($testimony->rate < $star){ ?>
							<a class="star" href="javascript:void(0)" vote="<?=$star?>">
						<?php }else{ ?>
							<a class="star point" href="javascript:void(0)" vote="<?=$star?>">
						<?php } ?>
					<?php } ?>
					
                  
                  
              <td class="text-right">
              <img src="<?=$this->basePath()?>/main/images/countrys/country_<?=$testimony->country?>.jpg" style="float:none !important;"></a>
              </td>
            </tr>
          </tbody></table>
        </div>
</div>
<?php endforeach; ?>	
	
<?php if(count($this->paginator) > 1) {?>
<div class="pagination pagination-large">
	   
<?php // add at the end of the file after the table
echo $this->paginationControl($this->paginator, 'sliding',
	array('partial/paginatorTestimonys.phtml', 'Testimonys'),
	array('route' => 'public')
);
?>

</div>	
<?php } ?>


