.profile-icons li.profile-contact-disabled{
	background-position:-197px 0;
	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.profile-icons li.profile-facebook-disabled{
	background-position:0 0;
	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.profile-icons li.profile-twitter-disabled{
	background-position:-50px 0;

	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.profile-icons li.profile-skype-disabled{
	background-position:-150px 0;

	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.profile-icons li.profile-google-disabled{
	background-position:-354px 0;

	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.social-icons li.social-facebook-disabled{
	background-position:0 0;

	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.social-icons li.social-twitter-disabled{
	background-position:-50px 0;
	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.social-icons li.social-youtube-disabled{
	background-position:-100px 0;

	display:inline-block;
	width:32px;
	height:28px;
	text-indent:-9999px;
	background-image:url(../img/icons-sprite.png);
	background-repeat: no-repeat;
	position:relative;
	margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.image-limit-small{overflow: hidden; height: 165px; }
.image-limit-big{overflow: hidden; height: 285px; }

.inputError {
    background-color: #F3D9D9 !important;
    border-color: #D20009 !important;
}
.oculto {
    display: none !important;
}
.errorMsg {
    background-color: #F2DEDE !important;
    border-color: #B01B1B !important;
    color: #B94A48 !important;
}
