.dropdown-menu::after {
top:-7px !important;
border-right:10px solid transparent !important;
border-bottom:10px solid white!important;
border-left:10px solid transparent!important;
}

.dropdown .caret {
	margin-left:15px !important;
		border-top:5px solid #FFF !important;
	border-right:5px solid transparent  !important;
	border-left:5px solid transparent  !important;
}

.dropdown-menu {-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}

img:hover {filter: grayscale(50%);}


/*TOP*/
.navigation_bar {
	background:#ffd600;

	padding:10px 0;
	border-bottom:1px solid #000;
}
.logo_wp {
	height:70px;
	float:left;
	width:56px;
}
.titule {
	height:70px;
	line-height:70px;
	background:url(../img/separator.png) no-repeat top left;
	float:left;
	margin:0 0 0 20px;
	padding:0 20px;
}
.titule h1 {
	font-size:26px;
	color:#444; letter-spacing:-1px;
	font-weight:normal !important;
	line-height:70px;
}
.lenguages_selector {
	height:70px;
	background:url(../img/separator.png) no-repeat top left;
	margin:0 0 0 20px;
	padding:0;
	float:right;
}
.lenguages_selector li {
	text-decoration:none;
	list-style:none !important;
}
.btn-lenguages {
	color: #ffffff;
	background: #dc2222;
	padding:5px 15px;
	margin-top:20px;
	font-size:11px !important; text-shadow: 0 0 0 !important;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; 	

	
}
.btn-lenguages:hover, .btn-lenguages:focus, .btn-lenguages:active, .btn-lenguages.active, .btn-lenguages.disabled, .btn-lenguages[disabled] {
	color: #ffffff;
	background-color: #000;
 *background-color: #000;
	text-decoration:none !important;

}


/* ----------------------------------------------------------------
    Primary Menu
*/


#primary-menu,
{
    position: relative;
}

#primary-menu ul {
    position: relative;
    margin: 0; list-style:none !important;
}

#primary-menu ul li {
	position: relative;
	float: left;	margin-left: 1px; -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#primary-menu ul li:first-child {
    padding-left: 0;
    background-image: none;
    margin-left: 0;
}

#primary-menu ul li:first-child span { display: none; }

#primary-menu li a {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    color: #FFF;
}


#primary-menu li i { margin-right: 2px; }



#primary-menu > ul > li:hover,
#primary-menu ul li.current,
#primary-menu > ul > li.current-menu-ancestor,
#primary-menu > ul > li.current-menu-parent,
#primary-menu > ul > li.current-menu-item,
#primary-menu > ul > li.current_page_parent { background: #ffd600; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

#primary-menu ul li.current a,
#primary-menu > ul > li:hover a,
#primary-menu > ul > li.current-menu-ancestor > a,
#primary-menu > ul > li.current-menu-parent > a,
#primary-menu > ul > li.current-menu-item > a,
#primary-menu > ul > li.current_page_parent > a {
    color: #000;
}


#primary-menu ul li:hover > ul {
	display: block;
}

#primary-menu ul ul {
	visibility: hidden;
    z-index: 200;
	width: 200px;
	margin: 0;
	position: absolute;
	top:30px;
	left: 0;
}

#primary-menu ul ul li {
    display: block;
	float: none;
	margin: 0;
	padding: 0;
	height: auto;
    border: none;
    background-color: #ffd600; border-bottom:1px solid #f2cb00;
}

#primary-menu ul ul li:first-child {
    border-top: 0;
    margin-top: 0; -webkit-border-radius: 0 5px 0 0;
     -moz-border-radius: 0 5px 0 0;
          border-radius: 0 5px 0 0;
}

#primary-menu ul ul ul {
    margin: 0;
	left: 196px;
	top: 0;
	*top: 1px;
}

#primary-menu ul ul a {
    display: block;
	height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: none;
    color:#000 !important;
    font-weight: normal;
}

#primary-menu ul ul a:hover,
#primary-menu ul ul li:hover > a {
    background-color:#f2cb00; -webkit-border-radius: 0 5px 0 0;
     -moz-border-radius: 0 5px 0 0;
          border-radius: 0 5px 0 0;
}


#primary-menu ul ul ul li:first-child a { border-top: none; }

#primary-menu ul > li.sub-menu > a > div {
	background-image: url(../img/mainsubmenu.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 16px;
}

#primary-menu ul > li.sub-menu:hover > a > div,
#primary-menu ul li.current.sub-menu > a > div,
#primary-menu > ul > li.current-menu-ancestor.sub-menu > a > div,
#primary-menu > ul > li.current-menu-parent.sub-menu > a > div,
#primary-menu > ul > li.current-menu-item.sub-menu > a > div,
#primary-menu > ul > li.current_page_parent.sub-menu > a > div { background-image:url(../img/mainsubmenuh.png);}

#primary-menu ul ul > li.sub-menu > a,
#primary-menu ul ul > li.sub-menu:hover > a {
    background-image: url(../img/submenu.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#primary-menu ul ul > li.sub-menu > a > div,
#primary-menu ul ul > li.sub-menu:hover > a > div {
    background-image: none;
    padding-right: 0;
}

#primary-menu ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}





/*top:menu */

.topmenu { padding:10px 0; background:#333; min-height:20px;}






.btn-blue-big {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #b01b1b;
	padding:10px 15px;
	margin-top:0 !important;
	font-size:14px !important; font-weight:100 !important;
}
.btn-blue-big:hover, .btn-blue-big:focus, .btn-blue-big:active, .btn-blue-big .active, .btn-blue-big .disabled, .btn-blue-big [disabled] {
	color: #ffffff;
	background-color: #fe6906;
 *background-color: #fe6906;
	text-decoration:none !important;
}

/*SLIDER*/

.shadowUP {position:absolute; bottom:0; left:0; width:100%; height:20px; background:url(../images/shadow-up.png) no-repeat center bottom; z-index: 2;}

.slider_home {
	background:#f0efef;
	padding:40px 0;
	border-bottom:1px solid #dbdbdb;
}
.oneByOne1 {
	margin-left: 0;
	margin-top: 0;
	width: 940px;
	height: 430px;
	padding-bottom:20px;
	background:url(../img/shadow_slide.png) no-repeat bottom center;
	position: relative;
	overflow: hidden;
	zoom: 1;
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	-o-border-radius:0!important;
	border-radius:0!important;
}
.mainBanner .image {
	position:absolute;
	left:0;
	top:0;
	height:430px;
	width:940px;
	z-index:500;
	overflow:hidden;
}

/*Full*/
.slideshow {height:430px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.slideshow_conteniner { height:350px;background: url(../img/shadow_slide.png) no-repeat bottom center; padding:100px 30px 0 30px;}

.slideshow_conteniner h1 { letter-spacing:-1px;}


/*BODY*/

body {
	background:#FFF!important;
	font:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a:hover { text-decoration:none !important;}

hr {

margin-bottom: 40px !important;
margin-top: 40px !important;
}

hr.titles {
	position:relative; top:-10px;
	margin:0 0 20px 0 !important;
	border:0;
	border-top:1px solid #eee;
	border-bottom:1px solid #fff
}


hr.small_divider {

margin-bottom: 20px !important;
margin-top: 20px !important;
	border-top:1px solid #eee;
	border-bottom:1px solid #fff
}

.divider {
padding-top: 40px; border:none;
}

.divider_small {
padding-top: 20px; border:none;
}


.body_home {
	font-size:14px;
	color:#444;
}
.body_home h1 {
	color:#444;
	font-size:42px;
	margin:0 0 30px 0 !important;
	line-height:normal !important; font-weight:normal;
}



.body_home h2 {
	color:#b01b1b;
	font-size:36px;
	margin:0 0 30px 0!important;
	line-height:normal !important; font-weight:normal;
}

.body_home h3 {
	color:#444;
	font-size:30px;
	margin:0 0 20px 0!important;
	line-height:normal !important; font-weight:normal;
}

.body_home h4 {
	color:#b01b1b;
	font-size:22px;
	margin:0 0 10px 0!important;
	line-height:normal !important; font-weight:normal;
}


.shadow{ height:20px;
}




ul.list-style {margin-left:0; font-size:14px !important; }
ul.list-style li { list-style:none;background:url(../img/list-style2.png) no-repeat 2px 5px; padding-left: 25px; margin-bottom:15px;}

img:hover {
-webkit-filter: grayscale(30%)  !important;
-moz-filter: grayscale(30%)  !important;
-webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}

 


.back_top_internal_page {background:url(../img/shadow_slide.png) no-repeat bottom center; padding: 0 0 20px 0;}

.back_top_internal_page img { display: block; border: 0; max-width: 100%;  width:100%; }

/* accordions*/
.acctitle,
.acctitlec {
	display: block;
	position: relative;
	cursor: pointer;
    border-top: 1px dotted #DDD;
    line-height: 24px;
    padding: 12px 0 12px 32px;
	margin: 0;
    font-size: 14px; font-weight:bold;
	color: #b01b1b;
	background: url("../img/toggle-plus.png") no-repeat left;
}

.acctitlec {
	background: url("../img/toggle-minus.png") no-repeat left;
	cursor: auto;
}

.acctitle:first-child {
	border-top: none;
}

.acc_content {
	position: relative;
	padding: 0 0 15px 0; font-size:12px;
}


/* Toggle*/


.toggle {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
}


.toogle_big {text-transform:uppercase; font-size:20px !important; font-weight:normal !important;}

.toggle .togglet,
.toggle .toggleta {
	display: block;
	position: relative;
    line-height: 24px;
    padding-left: 32px;
	cursor: pointer;
	margin: 0;
    font-size: 14px; 
	color: #b01b1b;
	background: url("../img/toggle-plus.png") no-repeat top left; font-weight:bold;
}

.toggle .toggleta {
    font-weight: bold;
    background: url("../img/toggle-minus.png") no-repeat top left;
}

.toggle .togglec {
	display: block;
	position: relative;
    padding: 10px 0 0 0; font-size:12px;
}





/*RECONOCIMIENTOS*/

.recog { margin-bottom:10px;}

.recog_photo a:hover .details > .bg, .recog_photo .hover .hov, .details {
		-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}


.recog_photo {}
.recog_photo a {
	display:block;
	padding: 0px;
	margin:0px;
}
.recog_photo .hover {
	display:block;
	position:relative;
	overflow:hidden;
}
.recog_photo .hover .hov {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:100%;
	background-image:url(../img/plus01.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(35, 35, 35, 0.2);
	display: block;
}
.recog_photo a:hover .hov {
	top:0;
}
.recog_photo .details {
	display:block;
	position:relative;
}
.recog_photo .details > .bg {
	position:absolute;
	top:0;
	height:0;
	background:#f7f7f7;
	width:100%;
	left: 0;
}
.recog_photo .details h4 {
	font-size:18px;
	color:#444;
	padding:20px 10px 0 10px;
	margin:0 !important;
	position:relative; font-weight:lighter;
	z-index:1;
}
.recog_photo .details h4 + span {
	font-size:12px;
	display:block;
	color:#9a9999;
	line-height:1;
	padding-bottom:15px;
	position:relative;
	z-index:1; text-transform:uppercase; padding:0 10px 20px 10px;
}
.recog_photo a:hover .details > .bg {
	height:100%;
}
.recog_photo a:hover .details h4, .recog_photo a:hover .details h4 + span {
	color:#b01b1b; text-decoration:none !important;
}

.country_recong {font-size:16px;
	display:block;
	color:#9a9999;text-transform:uppercase; }

/*PAGINATION*/

.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0; color:#b01b1b !important;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5; color:#fe6906 !important;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;}
  
  .pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 4px 17px;
  font-size: 12px;
}

/*FOOTER*/

.footer {
	background:#f7f7f7;
	padding:40px 0;
	border-top:1px solid #dbdbdb; color:#444; font-size:12px;
}

.footer h4 {
	color:#b01b1b; margin:0 0 10px 0; font-weight:normal !important; font-size:15px;}
.footer ul {
	margin:0!important;
	padding:0!important;
}
.footer li {
	list-style:none;
	font-size:11px;
}
.footer li a {
	color:#444;
	text-decoration:none;
}
.footer li a:hover {
	color:#b01b1b;
}


.footer .social-icons { }
.footer .social-icons li.title {line-height:30px;}
.footer .social-icons li {margin:0 0 0 0; }
.footer .social-icons li:first-child {margin-left:0;}


/* social icons */
.social-icons {margin:0 0 20px;}
.social-icons li {display:inline-block; margin:5px;vertical-align: middle;}
.social-icons li a {display:inline-block; width:32px; height:28px; text-indent:-9999px; background-image:url(../img/icons-sprite.png); background-repeat: no-repeat; position:relative; margin:0 0 0 10px;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; }




.social-icons li.social-facebook a {background-position:0 0;} .social-icons li.social-facebook a:hover {background-position:0 -28px;}
.social-icons li.social-twitter a {background-position:-50px 0;} .social-icons li.social-twitter a:hover {background-position:-50px -28px;}
.social-icons li.social-youtube a {background-position:-100px 0;} .social-icons li.social-youtube a:hover {background-position:-100px -28px;}



/*blog comments*/
.blog-comments h2 { font-size:18px;}
.blog-comments .img-circle { float: left; margin: 0 15px 15px 0; }

.blog-comments .img-circle img { margin: 0; }

.blog-comments .parent { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; margin-bottom: 30px; padding: 10px; position: relative; }

.parent h2 { font-size:15px; margin:0 !important;}

.blog-comments .parent-sub-img { background: url("../img/post-sub.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 70px; left: -22px; position: absolute; top: -30px; width: 19px; }

.blog-comments .parent h2 { margin: 0 0 3px 0; }

.blog-comments .parent h5 a:link, .parent h5 a:visited { color: #333333; font: bold 14px 'arial'; }

.blog-comments .parent img { float: left; }

.blog-comments .parent span { color:#9a9999; font-size:12px; }

a.reply:link, .parent a.reply:visited {color: #fe6906; font-size: 11px; }

.blog-comments .parent a.reply:hover { color:#b01b1b; }

.blog-comments .parent p { margin-top: 10px; overflow: hidden; font-size:12px; }

.blog-comments .child { margin-left: 40px; }

.blog-comments .subchild { margin-left: 80px; }



input, textarea {background-color: #fff; color:#b01b1b;
border: 1px solid #ccc;
-webkit-border-radius: 5px!important;
-moz-border-radius: 5px!important;
border-radius: 5px!important;
-webkit-box-shadow: inset 0 0 0 !important;
-moz-box-shadow: inset 0 0 0 !important;
box-shadow: inset 0 0 0 !important;
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-ms-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s; padding:8px 10px !important;
}

textarea {color:#444 !important; }



/* social icons PROFILE */
.contact-icons {margin:0 0 20px 0; list-style:none;}


.contact-icons li { line-height:28px; margin-bottom:10px;}

.contact-icons li i { background-image:url(../img/icons-sprite.png); background-repeat: no-repeat; background-position:-10000px;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; width:32px; height:28px; float:left; margin:0 15px 0 0;}



.contact-icons li.contact-contact i {background-position:-197px 0;} .contact-icons li.contact-contact i:hover {background-position:-197px -30px;}
.contact-icons li.contact-phone i {background-position:-253px 0;} .contact-icons li.contact-phone i:hover {background-position:-253px -30px;}
.contact-icons li.contact-mobile i {background-position:-310px 0;} .contact-icons li.contact-mobile i:hover {background-position:-310px -30px;}


.contact-icons li.contact-facebook i {background-position:0 0;} .contact-icons li.contact-facebook 1:hover {background-position:0 -30px;}
.contact-icons li.contact-twitter i {background-position:-50px 0;} .contact-icons li.contact-twitter i:hover {background-position:-50px -30px;}
.contact-icons li.contact-skype i {background-position:-150px 0;} .contact-icons li.contact-skype i:hover {background-position:-150px -30px;}
.contact-icons li.contact-google i {background-position:-354px 0;} .contact-icons li.contact-google i:hover {background-position:-354px -30px;}
.contact-icons li.contact-youtube i {background-position:-100px 0;} .contact-icons li.contact-youtube i:hover {background-position:-100px -30px;}





/* social icons contact */
.profile-icons {margin:0 0 20px 0;}
.profile-icons li {display:inline-block; margin:5px 5px 0 0;vertical-align: middle; font-size:12px;}
.profile-icons li a {display:inline-block; width:32px; height:28px; text-indent:-9999px; background-image:url(../img/icons-sprite.png); background-repeat: no-repeat; position:relative; margin:0 0 0 0;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; }



.profile-icons li.profile-contact a {background-position:-197px 0;} .profile-icons li.profile-contact a:hover {background-position:-197px -30px;}
.profile-icons li.profile-facebook a {background-position:0 0;} .profile-icons li.profile-facebook a:hover {background-position:0 -30px;}
.profile-icons li.profile-twitter a {background-position:-50px 0;} .profile-icons li.profile-twitter a:hover {background-position:-50px -30px;}
.profile-icons li.profile-skype a {background-position:-150px 0;} .profile-icons li.profile-skype a:hover {background-position:-150px -30px;}
.profile-icons li.profile-google a {background-position:-354px 0;} .profile-icons li.profile-google a:hover {background-position:-354px -30px;}


.social-icons li.social-facebook a {background-position:0 0;} .social-icons li.social-facebook a:hover {background-position:0 -30px;}
.social-icons li.social-twitter a {background-position:-50px 0;} .social-icons li.social-twitter a:hover {background-position:-50px -30px;}
.social-icons li.social-youtube a {background-position:-100px 0;} .social-icons li.social-youtube a:hover {background-position:-100px -30px;}
