.dropdown-menu::after {
top:-7px !important;
border-right:10px solid transparent !important;
border-bottom:10px solid white!important;
border-left:10px solid transparent!important;
}

.dropdown .caret {
	margin-left:15px !important;
		border-top:5px solid #FFF !important;
	border-right:5px solid transparent  !important;
	border-left:5px solid transparent  !important;
}



/*TOP*/
.navigation_bar {
	background:#f7f7f7;
	padding:10px 0;
	border-bottom:1px solid #dbdbdb;
}
.logo_wp {
	height:70px;
	float:left;
	width:56px;
}
.titule {
	height:70px;
	line-height:70px;
	background:url(../img/separator.jpg) no-repeat top left;
	float:left;
	margin:0 0 0 20px;
	padding:0 20px;
}
.titule h1 {
	font-size:26px;
	color:#444444;
	font-weight:normal !important;
	line-height:70px;
}
.lenguages_selector {
	height:70px;
	background:url(../img/separator.jpg) no-repeat top left;
	margin:0 0 0 20px;
	padding:0;
	float:right;
}
.lenguages_selector li {
	text-decoration:none;
	list-style:none !important;
}
.btn-lenguages {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #21a4fe;
	padding:5px 15px;
	margin-top:20px;
	font-size:11px !important;
}
.btn-lenguages:hover, .btn-lenguages:focus, .btn-lenguages:active, .btn-lenguages.active, .btn-lenguages.disabled, .btn-lenguages[disabled] {
	color: #ffffff;
	background-color: #fe6906;
 *background-color: #fe6906;
	text-decoration:none !important;
}





.btn-blue-big {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #21a4fe;
	padding:10px 15px;
	margin-top:0 !important;
	font-size:14px !important; font-weight:100 !important;
}
.btn-blue-big:hover, .btn-blue-big:focus, .btn-blue-big:active, .btn-blue-big .active, .btn-blue-big .disabled, .btn-blue-big [disabled] {
	color: #ffffff;
	background-color: #fe6906;
 *background-color: #fe6906;
	text-decoration:none !important;
}

/*SLIDER*/

.shadowUP {position:absolute; bottom:0; left:0; width:100%; height:20px; background:url(../images/shadow-up.png) no-repeat center bottom; z-index: 2;}

.slider_home {
	background:#f0efef;
	padding:40px 0;
	border-bottom:1px solid #dbdbdb;
}
.oneByOne1 {
	margin-left: 0;
	margin-top: 0;
	width: 940px;
	height: 430px;
	padding-bottom:20px;
	background:url(../img/shadow_slide.png) no-repeat bottom center;
	position: relative;
	overflow: hidden;
	zoom: 1;
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	-o-border-radius:0!important;
	border-radius:0!important;
}
.mainBanner .image {
	position:absolute;
	left:0;
	top:0;
	height:430px;
	width:940px;
	z-index:500;
	overflow:hidden;
}
/*BODY*/

body {
	background:#FFF!important;
	font:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a:hover { text-decoration:none !important;}

hr {

margin-bottom: 40px !important;
margin-top: 40px !important;
}

hr.titles {
	position:relative; top:-10px;
	margin:0 0 20px 0 !important;
	border:0;
	border-top:1px solid #eee;
	border-bottom:1px solid #fff
}


hr.small_divider {

margin-bottom: 20px !important;
margin-top: 20px !important;
	border-top:1px solid #eee;
	border-bottom:1px solid #fff
}

.divider {
padding-top: 40px; border:none;
}

.divider_small {
padding-top: 20px; border:none;
}


.body_home {
	font-size:14px;
	color:#444;
}
.body_home h1 {
	color:#21a4fe;
	font-size:42px;
	margin:0 0 30px 0 !important;
	line-height:normal !important; font-weight:normal;
}



.body_home h2 {
	color:#444;
	font-size:36px;
	margin:0 0 30px 0!important;
	line-height:normal !important; font-weight:normal;
}

.body_home h3 {
	color:#fe6906;
	font-size:30px;
	margin:0 0 30px 0!important;
	line-height:normal !important; font-weight:normal;
}

.body_home h4 {
	color:#444;
	font-size:24px;
	margin:0 0 30px 0!important;
	line-height:normal !important; font-weight:normal;
}


.shadow{ height:20px;
}




ul.list-style {margin-left:0;}
ul.list-style li { list-style:none; background:url(../img/list-style1.png) no-repeat 2px 8px; padding-left: 15px; margin-bottom: 4px;}
ul.list-style li { list-style:none;background:url(../img/list-style2.png) no-repeat 2px 5px; padding-left: 25px;}

.photo_normal:hover {opacity:0.8; filter:alpha(opacity=80);-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}


/* accordions */
.acc-group.style3 { margin-bottom: 8px; padding-bottom: 8px; border-bottom: 1px solid #e5e5e5; }
.acc-group.style3 > button {display: block; width: 100%; text-align: left; position:relative; margin:0; padding:10px 10px 10px 60px; background:none; border:0; font-size:16px}
.acc-group.style3 > button:after {content:'-'; position:absolute; left:0; top:0; width:20px; height:20px; font-size:40px; background:#eee; color:#cd2122; padding:7px 6px 13px 14px; text-shadow:0 1px 0 #fff;}
.acc-group.style3 > button:hover { color:#cd2122 !important; }
.acc-group.style3 > button:hover:after { color:#cd2122 !important; background:#e9e9e9;}
.acc-group.style3 > button.collapsed:after {color:#b5b5b5; content:'+'; padding:10px;  font-size:35px;}
.acc-group.style3 > button.collapsed {color:#505050;}
.acc-group.style3 .content {padding: 10px 15px; }
.acc-group.style3 .content p:last-child {margin-bottom:0;}



/*RECONOCIMIENTOS*/

.recog { margin-bottom:10px;}

.recog_photo a:hover .details > .bg, .recog_photo .hover .hov, .details {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


.recog_photo {}
.recog_photo a {
	display:block;
	padding: 0px;
	margin:0px;
}
.recog_photo .hover {
	display:block;
	position:relative;
	overflow:hidden;
}
.recog_photo .hover .hov {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:100%;
	background-image:url(../img/plus01.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(35, 35, 35, 0.2);
	display: block;
}
.recog_photo a:hover .hov {
	top:0;
}
.recog_photo .details {
	display:block;
	position:relative;
}
.recog_photo .details > .bg {
	position:absolute;
	top:0;
	height:0;
	background:#f7f7f7;
	width:100%;
	left: 0;
}
.recog_photo .details h4 {
	font-size:18px;
	color:#444;
	padding:20px 10px 0 10px;
	margin:0 !important;
	position:relative; font-weight:lighter;
	z-index:1;
}
.recog_photo .details h4 + span {
	font-size:12px;
	display:block;
	color:#9a9999;
	line-height:1;
	padding-bottom:15px;
	position:relative;
	z-index:1; text-transform:uppercase; padding:0 10px 20px 10px;
}
.recog_photo a:hover .details > .bg {
	height:100%;
}
.recog_photo a:hover .details h4, .recog_photo a:hover .details h4 + span {
	color:#21a4fe; text-decoration:none !important;
}

.country_recong {font-size:16px;
	display:block;
	color:#9a9999;text-transform:uppercase; }

/*PAGINATION*/

.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5; color:#fe6906 !important;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;}
  
  .pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 4px 17px;
  font-size: 12px;
}

/*FOOTER*/

.footer {
	background:#f7f7f7;
	padding:40px 0;
	border-top:1px solid #dbdbdb; color:#444; font-size:12px;
}

.footer h4 {
	color:#21a4fe; margin:0 0 10px 0; font-weight:normal !important; font-size:15px;}
.footer ul {
	margin:0!important;
	padding:0!important;
}
.footer li {
	list-style:none;
	font-size:11px;
}
.footer li a {
	color:#444;
	text-decoration:none;
}
.footer li a:hover {
	color:#21a4fe;
}


.footer .social-icons { }
.footer .social-icons li.title {line-height:30px;}
.footer .social-icons li {margin:0 0 0 0; }
.footer .social-icons li:first-child {margin-left:0;}


/* social icons */
.social-icons {margin:0 0 20px;}
.social-icons li {display:inline-block; margin:5px;vertical-align: middle;}
.social-icons li a {display:inline-block; width:20px; height:20px; text-indent:-9999px; background-image:url(../img/social-icons-sprite.png); background-repeat: no-repeat; position:relative; margin:0 0 0 10px;
-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }




.social-icons li.social-facebook a {background-position:0 0;} .social-icons li.social-facebook a:hover {background-position:0 -21px;}
.social-icons li.social-twitter a {background-position:-27px 0;} .social-icons li.social-twitter a:hover {background-position:-27px -21px;}
.social-icons li.social-youtube a {background-position:-52px 0;} .social-icons li.social-youtube a:hover {background-position:-52px -21px;}



/*blog comments*/
.blog-comments h2 { font-size:18px;}
.blog-comments .img-circle { float: left; margin: 0 15px 15px 0; }

.blog-comments .img-circle img { margin: 0; }

.blog-comments .parent { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; margin-bottom: 30px; padding: 10px; position: relative; }

.parent h2 { font-size:15px; margin:0 !important;}

.blog-comments .parent-sub-img { background: url("../img/post-sub.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 70px; left: -22px; position: absolute; top: -30px; width: 19px; }

.blog-comments .parent h2 { margin: 0 0 3px 0; }

.blog-comments .parent h5 a:link, .parent h5 a:visited { color: #333333; font: bold 14px 'arial'; }

.blog-comments .parent img { float: left; }

.blog-comments .parent span { color:#9a9999; font-size:12px; }

a.reply:link, .parent a.reply:visited {color: #fe6906; font-size: 11px; }

.blog-comments .parent a.reply:hover { color:#21a4fe; }

.blog-comments .parent p { margin-top: 10px; overflow: hidden; font-size:12px; }

.blog-comments .child { margin-left: 40px; }

.blog-comments .subchild { margin-left: 80px; }



input, textarea {background-color: #fff; color:#21a4fe;
border: 1px solid #ccc;
-webkit-border-radius: 5px!important;
-moz-border-radius: 5px!important;
border-radius: 5px!important;
-webkit-box-shadow: inset 0 0 0 !important;
-moz-box-shadow: inset 0 0 0 !important;
box-shadow: inset 0 0 0 !important;
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-ms-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s; padding:8px 10px !important;
}

textarea {color:#444 !important; }


/* social icons PROFILE */
.profile-icons {margin:0 0 20px 0;}
.profile-icons li {display:inline-block; margin:5px 5px 0 0;vertical-align: middle; font-size:12px;}
.profile-icons li a {display:inline-block; width:26px; height:26px; text-indent:-9999px; background-image:url(../img/profile-icons-sprite.png); background-repeat: no-repeat; position:relative; margin:0 0 0 0;
-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }



.profile-icons li.profile-contact a {background-position:0 0;} .profile-icons li.profile-contact a:hover {background-position:0 -26px;}
.profile-icons li.profile-facebook a {background-position:-27px 0;} .profile-icons li.profile-facebook a:hover {background-position:-27px -26px;}
.profile-icons li.profile-twitter a {background-position:-53px 0;} .profile-icons li.profile-twitter a:hover {background-position:-53px -26px;}
.profile-icons li.profile-skype a {background-position:-81px 0;} .profile-icons li.profile-skype a:hover {background-position:-81px -26px;}
.profile-icons li.profile-google a {background-position:-108px 0;} .profile-icons li.profile-google a:hover {background-position:-108px -26px;}
	
.profile-icons li.profile-contact-disabled  {background-position:0 0; display:inline-block; width:26px; height:26px; text-indent:-9999px; background-image:url(../img/profile-icons-sprite.png); background-repeat: no-repeat; position:relative;      margin: 5px 5px 0 0;}
.profile-icons li.profile-facebook-disabled {background-position:-27px 0; display:inline-block; width:26px; height:26px; text-indent:-9999px; background-image:url(../img/profile-icons-sprite.png); background-repeat: no-repeat; position:relative;  margin: 5px 5px 0 0;}
.profile-icons li.profile-twitter-disabled  {background-position:-53px 0; display:inline-block; width:26px; height:26px; text-indent:-9999px; background-image:url(../img/profile-icons-sprite.png); background-repeat: no-repeat; position:relative;  margin: 5px 5px 0 0;}
.profile-icons li.profile-skype-disabled    {background-position:-81px 0; display:inline-block; width:26px; height:26px; text-indent:-9999px; background-image:url(../img/profile-icons-sprite.png); background-repeat: no-repeat; position:relative;  margin: 5px 5px 0 0;}  
.profile-icons li.profile-google-disabled   {background-position:-108px 0; display:inline-block; width:26px; height:26px; text-indent:-9999px; background-image:url(../img/profile-icons-sprite.png); background-repeat: no-repeat; position:relative; margin: 5px 5px 0 0;}

#email{margin-left: 7px; margin-right: 7px;}
.image-limit-small{overflow: hidden; height: 165px; }
.image-limit-big{overflow: hidden; height: 285px; }

.inputError {
    background-color: #F3D9D9 !important;
    border-color: #D20009 !important;
}
.oculto {
    display: none !important;
}
.errorMsg {
    background-color: #F3D9D9;
    border: 1px solid #D20009;
    border-radius: 5px 5px 5px 5px;
    color: #7B040F;
    display: block;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 5px;
    text-indent: 10px;
    width: 460px;
}
