

/*christian El lobo Barrera*/


.blog-comments .parent-sub-img {
background: url("../img/post-sub_rtl.png") no-repeat scroll 0 0 transparent !important;
display: inline-block;
height: 70px;
right: -22px!important;

}


.blog-comments .child {
margin-left: 0 !important; margin-right: 40px !important;}

.blog-comments .subchild {
margin-left: 0 !important; margin-right: 80px !important;
}

.blog-comments .img-circle {
float: right !important;
margin: 0 0 15px 15px !important;}


.dropdown-menu::after {
left:9px !important;

}


li.listLang a  { text-align: left !important;}


.dropdown .caret {
	margin-left:0 !important ;
	margin-right:0 !important; position:relative; left:-15px;}



.logo_wp {

	float:right !important;
}
.titule {

	background:url(../img/separator.jpg) no-repeat top right !important;
	float:right !important;
	margin:0 20px 0 0 !important;
	padding:0 20px;
}

.lenguages_selector {
	background:url(../img/separator.jpg) no-repeat top right !important;
	margin:0 -20px  !important;
	padding:0 20px 0 0 !important;
	float:left !important;
}

.flags_position { left:0 !important;}


/*sarasa*/

[class*="span"]{ float: right !important; margin-right: 0px; }

.row-fluid [class*="span"] { float: right; }

.flags_position {  left:0px;}

.dropdown-menu::after {left: 20px;}

.log { float: right; }

.input_search_home { padding-right: 20px !important; padding-left: 0px !important; }

.separador { float: right; }

.lenguages { float: right; }

.menu_top { float: left; }

.masterspot {margin: 0 0 9px 25px !important;}

ul, ol { margin: 0 25px 9px 0; }

[class^="txt-"], [class*="txt-"] { margin-right: -8px; margin-left: 10px; }

.align_right { text-align: left; }

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, 
.addthis_default_style .at300bo, .addthis_default_style .at300m, 
.addthis_default_style .at300bs { float: right; }

.redes_sociales { right: 83%; }

.addthis_default_style .addthis_counter { display: block; float: right; }

.thumbnails { margin-right: 5px; list-style: none; margin-left: 0px; }

.thumbnails > li { float: right; margin-bottom: 18px; margin-right: 20px; 
margin-left: 0px; }

.nav-tabs > li, .nav-pills > li { float: right; }

.comments_list img { float: right; margin: 0 0px 15px 15px; border: 1px solid 
#DDD !important; padding: 3px; background: white; }

p.direccion_anuncio { padding-right: 20px; background-position: 100% 2px; }

.link { padding-right: 25px; background-position: 100%; }

.send_inquiry { padding-right: 25px; background-position: 100% 1px; }

.pp_content_container { text-align: right; }

div.pp_default .pp_content_container .pp_right { padding-left: 13px; }

.send_inquiry { padding-left: 0px; }

.link { padding-left: 0px; }

.label_search_content { text-align: left; }

.tabs2 li a { float: right; }

.btn_search { margin-right: 33px; margin-left: 0px; }

.page_results { text-align: left; right: 0px; }

.div_corto { right: 0px; }

.pull-right { float: left; }

.pull-left { float: right; }

.btn_map { text-align: center; background: url(../img/map_on_rtl.png) no-repeat; 
padding-right: 0px; margin-left: -45px; }

.btn_map:hover { background: url(../img/map_on_rtl.png)0 -51px; }

.number { float: right; }

.pictsArea { float: right; margin-left: 10px; }

.pagination a { float: right; }

.listing_actions_email { background: url(../img/email.png) no-repeat; 
background-position: 100% 1px; padding: 7px 20px 0px 7px; float: right; 
margin-left: 10px;}

.listing_actions_face { background:url(../img/face.png) no-repeat; background-position: 100% 1px; padding: 7px 20px 0px 7px; float: right; 
margin-left: 10px;}

.listing_actions_tw { background:url(../img/twitter.png) no-repeat; background-position: 100% 1px; padding: 7px 20px 0px 7px; float: right; 
margin-left: 10px;}

ul, ol {margin: 0 -12px 9px 0;}

.margin_tabs {margin: 10px 0 0 20px;}


.pictslide {float: right;margin-left: 12px; margin-right: 0px;}

.pictslide img{ width: 140px; height: 113px !important}

.help_ads_st_text {float: right;}


.gold_medal {background: url(../img/gold_anun_rtl.png) no-repeat;float: left;right: 27px;}

.listing_content_feature {padding: 10px 0px 0px 10px;}

.listing_content_gold h1 {padding-right: 35px;padding-left: 0px;}

p.telefono_gold {background-position: 100% 2px;padding-right: 25px;padding-left: 0px;}

.listing_content_feature h1 a {margin-right: 15px;}

p.direccion_gold {background-position: 99% 3px;padding-right: 25px;}

.send_gold {padding-right: 25px;background-position: 100% 4px;}

.link_gold {padding-left: 0px;padding-right: 25px;background-position: 100% 3px;}

.number_gold {float: right;}

.listing_content_title_gold{margin-left:0px}



.premium_medal {background: url(../img/premium_medal_rtl.png) no-repeat;float: left;right: 15px;}

.listing_content_premium {padding: 10px 0px;}

.listing_content_premium h2 {padding-right: 35px;padding-left: 0px;}

p.telefono_premium {background-position: 100% 2px;padding-right: 25px;padding-left: 0px;}

p.direccion_premium {background-position: 99% 3px;padding-right: 25px;}

.send_premium {padding-right: 25px;background-position: 100% 4px;}

.link_premium {padding-left: 0px;padding-right: 25px;background-position: 100% 3px;}

.number_premium {float: right;}

.listing_content_title_premium{margin-left:0px}




.number_st {float: right; margin-right: 0px;}

p.telefono_st {background-position: 100% 2px;padding-right: 25px;padding-left: 0px;}

p.direccion_st {background-position: 99% 3px;padding-right: 25px;}

.send_st {padding-right: 25px;background-position: 100% 4px;}

.link_st {padding-left: 0px;padding-right: 25px;background-position: 100% 3px;}

.standard_medal {background: url(../img/standard_medal_rtl.png) no-repeat;right: 17px;float: left}


.about_us_back {background: url(../institutional/about_rtl.jpg) no-repeat bottom left; background-size: 450px; padding: 10px 10px 30px 50%;}

.row-fluid [class*="span"] {float: right;margin-right: 2.127659574%;margin-left:0px}
.row-fluid [class*="span"]:first-child {margin-right: 0;}

.table th, .table td {text-align: right;}
.calendar {background-position: 97% 18px;padding-right: 40px !important;}
.rank {background-position: 96% 20px;padding-right: 40px !important;}

.plusvoip_head h3 {padding-right: 95px;padding-left: 0px;}
.plusvoip_head {background: url(../institutional/pluss_voip_rtl.png);}
.plus_head h3 {padding-right: 95px;padding-left: 0px;}
.plus_head {background: url(../institutional/plus_head_rtl.png);}

.camera_featured_back {background: url(../institutional/camara_rtl.jpg) no-repeat bottom left;padding: 10px 10px 10px 40%;}

.dest_bis {padding-right: 20px;background-position: 100% -15px;}

.flags_contents { float: right !important; margin-right:0 !important } 

.flags_contents ul { margin-left: 30px !important; }

.flags_ { margin-top: -3px!important; margin-left: 10px!important; margin-right: 6px!important; }

.logos_right { text-align:left; float: left;}

p.telefono_anuncio.st {	background-position: 100% 0px !important; padding-right: 35px !important; padding-left: 0px !important}

p.fax_anuncio.st {	background-position: 100% 0px !important; padding-right: 35px !important; padding-left: 0px !important}

p.direccion_anuncio.st { background-position: 95% 2px !important; padding-right: 45px !important; padding-left: 0px !important }

.send_st_profile {padding-right: 30px !important; background-position: 100% 4px !important; padding-left: 0px !important}

.link_st_profile {padding-right: 30px !important; background-position: 99% 3px !important; padding-left: 0px !important}

p.telefono_anuncio.pr {	background-position: 100% 0px !important; padding-right: 35px !important; padding-left: 0px !important}

p.fax_anuncio.pr {	background-position: 100% 0px !important; padding-right: 35px !important; padding-left: 0px !important}

p.direccion_anuncio.pr { background-position: 95% 2px !important; padding-right: 45px !important; padding-left: 0px !important }

.send_pr_profile {padding-right: 30px !important; background-position: 100% 4px !important; padding-left: 0px !important}

.link_pr_profile {padding-right: 30px !important; background-position: 99% 3px !important; padding-left: 0px !important}

p.telefono_anuncio.gl {	background-position: 100% 0px !important; padding-right: 35px !important; padding-left: 0px !important}

p.fax_anuncio.gl {	background-position: 100% 0px !important; padding-right: 35px !important; padding-left: 0px !important}

p.direccion_anuncio.gl { background-position: 95% 2px !important; padding-right: 45px !important; padding-left: 0px !important }

.send_gl_profile {padding-right: 30px !important; background-position: 100% 4px !important; padding-left: 0px !important}

.link_gl_profile {padding-right: 30px !important; background-position: 99% 3px !important; padding-left: 0px !important}



.boxBanner{	right: 40px;}

.mainBanner .image img{left:0px}

          
/* slide 1 */
          

#banner .oneByOne_item .text1 h1{
	clear: right !important;
	position: relative;
	float: right !important;
}

#banner .oneByOne_item .text2{              
	clear: right !important; 
	position: relative;
	float: right !important; right:30px !important;
}
	
#banner .oneByOne_item .text_2bis{              
	
	position: relative;
	float: right !important; right:60px !important;
}           	             

/* slide 2 */


#banner .oneByOne_item .text3 {
	position: relative;
	float: right !important; 
}

	
#banner .oneByOne_item .text5 {              
	clear: right !important;
	position: relative;
	float: right !important; right:70px !important;} 
	
#banner .oneByOne_item .text6 {              
	clear: right !important;
	position: relative;
	float: right !important; right:370px !important;
}


/* slide 3 */


#banner .oneByOne_item .text7 {
	position: relative; 
	float: right !important; right:30px !important;

}

#banner .oneByOne_item .text8 {              
	position: relative;
	float: right !important; right:50px;
}
	
#banner .oneByOne_item .kid {	position: absolute	;
	top: 24px;
	right: 460px !important;}	


.close {float: left;}

.boxBanner2{right: 30px ;left:0px !important}